* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #171717;
}
